html, body{
  overflow-x: hidden;
}
a{
  font-family: 'Helvetica Neue', sans-serif;
}

.text1{
  font-family: 'Source Sans Pro', sans-serif;
  color:#808080 ;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.5;
  margin-bottom: .5rem;
}
.btn{
  font-family: 'Helvetica Neue', sans-serif;
}
.lead{
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 21px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 2rem;
}
.bold-nomad{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 350;
  color: black;
  font-size: 60px;
}
.primary-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: black;
  line-height: 1;
  margin-bottom: .5rem;
  font-size: 60px;
}
.profile-website {
  top: 150px;
  right: 0;
  width: 600px;
  height: auto;
  position: absolute;
}

.container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 50px !important;
  margin-left: 200px;
}

.fdb-block {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 15.5rem 0;
    position: relative;
    background-size: cover;
    background-color: transparent !important;
}

.twitter-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
}
.twitter-icon .img-top{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 99;

}
.twitter-icon:hover .img-top{
  display: inline;
}

.github-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
}
.github-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

}
.github-icon:hover .img-top{
 display: inline;
}

.linkedin-icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
}
.linkedin-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.linkedin-icon:hover .img-top{
 display: inline;
}

.web-design-icon {
  cursor: pointer;
  height: 120px;
  width: 120px;
  position: relative;
  display: inline-block;
}
.web-design-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 99;
}
.web-design-icon:hover .img-top{
 display: inline;
}

.web-dev-icon {
  cursor: pointer;
  height: 120px;
  width: 120px;
  position: relative;
  display: inline-block;
}
.web-dev-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 99;
}
.web-dev-icon:hover .img-top{
 display: inline;
}

.wordpress-icon {
  cursor: pointer;
  height: 120px;
  width: 120px;
  position: relative;
  display: inline-block;
}
.wordpress-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 99;
}
.wordpress-icon:hover .img-top{
 display: inline;
}

.work-section{
  background-color: #f8f9fadc !important;
}
.fdb-block .fdb-box {
  background: #FFF;
  padding: 0;
  overflow: hidden;
  color: #444;
  border-radius: .25rem;
  box-shadow: 0 .3125rem .875rem 0 rgba(129,129,129,.2)!important;
  height: 300px !important;
} 

  .services{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #474747;
}
.works{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #474747;
}

.btn-dark{
    color: #746D69;
    background-color: transparent !important;
    border-color: #746D69 !important;
}
.btn-dark:hover{
    color: #E8E9EB;
    background-color: #746D69 !important;
    border-color: #746D69 !important;
}
.footer-icon{
  color: #E8E9EB !important;
}
.footer-icon:hover{
  color: #BBBCB6 !important;
}
.home-icons{
  color: #746D69 !important;
}
.home-icons:hover{
  animation-duration: 2s;
  color: black !important;
}
.work-hover {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(0); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
    }

    img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1);
    }
  }
