.text1{
  font-family: 'Source Sans Pro', sans-serif;
  color:#808080 ;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.5;
  margin-bottom: .5rem;
}
.hire-me:hover {
  color:#2d313c;
  text-decoration: none;
}
.btn{
  font-family: 'Source Sans Pro', sans-serif;
}
.lead{
  font-family: 'Source Sans Pro', sans-serif;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2rem;
}
.primary-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #474747;
  line-height: 1;
  margin-bottom: .5rem;
  font-size: 3rem;
}
.work-section{
  background-color: #f8f9fadc !important;
}
.fdb-box{
  background-color: rgb(223, 223, 223) !important;
  width: 250px !important;
  height: 250px !important;
}
.fdb-box:hover{
  background-color: #2d313c !important;
  transition: all 1s;
}
.works{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #474747;
}
.btn-outline-dark{
  border-radius: 0 !important;
}

.btn-dark{
    color: #746D69;
    background-color: transparent !important;
    border-color: #746D69 !important;
}
.btn-dark:hover{
    color: #E8E9EB;
    background-color: #746D69 !important;
    border-color: #746D69 !important;
}
.footer-icon{
  color: #E8E9EB !important;
}
.footer-icon:hover{
  color: #BBBCB6 !important;
}
.home-icons{
  color: #746D69 !important;
}
.home-icons:hover{
  animation-duration: 2s;
  color: black !important;
}
/* DEMO 3  */
.hover-3::after {
  content: '';
  width: 230px;
  height: 230px;
  border: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: .6rem;
  left: 1.6rem;
  z-index: 50;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
}

.hover-3-content {
  position: absolute;
  top: 65%;
  right: 10%;
  left: -13%;
  width: 100%;
  text-align: center;
  z-index: 50;
}

.hover-3-description {
  opacity: 1;
  top: 45%;
  font-family: 'Source Sans Pro', sans-serif;
  right: 25%;
  font-size: 1rem;
  transform: scale(1.3);
  transition: all 0.5s;
}

.hover-3 img {
  width: 100%;
  height: auto;
   filter: none;
    -webkit-filter: grayscale(1);
    -webkit-transform: scale(1);
}

.hover-3 .hover-overlay {
  background: rgb(0, 0, 0) !important;
}

.hover-3:hover img {
  width: 100%;
  filter: none;
    -webkit-transition: all .5s ease-in-out; 
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.2);

}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  color: white !important;
  font-family: 'Source Sans Pro', sans-serif;
  top: 45%;
  right: 25%;
  font-size: 1rem;
  transform: scale(1.3);
  transition: all 0.5s;
}
.hover-3-description:hover{
  color: white;
}

